

table {
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: auto;
    
    
  }

td,th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    }

.redElement{
  background-color: red;
}

.greenElement{
  background-color: green;
}

.Element{
  background-color: cadetblue;
}

.footer{
  background-color: darkgreen;
  height: 10%;
}